.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
   background-color: rgb(101, 107, 105);
   /* overflow: hidden; */
   position: relative;
}

.arrowRight{
    margin-left: auto;
    margin-right: 1rem;
    z-index: 1;
    cursor: pointer;
}

.arrowLeft{
    margin-right: auto;
    margin-left: 1rem;
    z-index: 1;
    cursor: pointer;
}

.horizontal_list_container {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scrollbar-width: none; /* hide scrollbar */
    -ms-overflow-style: none; /* hide scrollbar */
    width: 25rem;
  }
  
  .horizontal_list_container::-webkit-scrollbar {
    display: none; /* hide scrollbar */
  }

  .itemContainer{
    width: "30px";
    height: "30px";
    display: "flex";
    align-items: "center";
    justify-content: "center";
    font-size: "24px";
    margin:0 8px;
    flex-shrink: 0;
    border: 2px solid red;
    padding: 3rem;
  }